<main class="main">
  <h1 class="main__title">Series finder</h1>
  <form action="" class="main__form js-form">
    <input type="text" class="main__form--input js-search-input" placeholder="Search">
    <button class="main__form--btn js-search-button">Search</button>
  </form>

  <section class="search--results">
    <h2 class="main__subtitle">Series</h2>
    <ul class="search--list js-series-list">
    </ul>
    <h2 class="main__subtitle">Favourite series</h2>
    <ul class="search--list js-fav-list">
  </section>
</main>
