// fonts
$font-main:'Quicksand', sans-serif;
$font-second: 'Lato', sans-serif;

// colors
$color-bg: #4d6d9a;
$color-text: #ffffff;
$color-brand: #5f6366;
$color-highlight1: #edb5bf;
$color-highlight2: #99ced3;
$color-details: #86b3d1;

