// fonts
$font-main:'Quicksand', sans-serif;
$font-second: 'Lato', sans-serif;

// colors
$color-bg: #faf3dd;
$color-text: #08415c;
$color-brand: #5f6366;
$color-highlight1: #e9afa3;
$color-highlight2: #f9dbbd;;
$color-details: #283044;

