body {
  height: 100vh;
  margin: 0;
  background-color: $color-bg;
  align-items: flex-start;
}

.main {
  padding: 0 30px;
  display: flex;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &--item {
      list-style: none;
      margin-bottom: 30px;
      border: 2px solid $color-highlight2;
      border-radius: 5px;
      padding: 10px;

      &-faved {
        border: 1px solid #ffffff;
        background-color: $color-text;
      }
    }
  }

  &__container {
    &--series {
      width: 80%;
      padding-left: 20px;
    }
    &--favourites {
      width: 20%;
    }
  }

  &__subtitle {
    font-family: $font-main;
    color: $color-text;
    margin-bottom: 10px;
  }

  &__card--title {
    font-family: $font-main;
    color: $color-text;
    margin-bottom: 15px;
    max-width: 210px;

    &-faved {
      font-family: $font-main;
      color: white;
    }
  }

  &__card--image {
    margin: 10px;
  }

  &__faved--button {
    font-family: 'Roboto', sans-serif;
    color: $color-details;
    border: 1px solid $color-highlight2;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    font-family: $font-main;
  }
}

.card--favourite {
  list-style: none;
  margin-bottom: 30px;
  border: 2px solid $color-highlight2;
  border-radius: 5px;
  padding: 10px;
  background-color: $color-highlight1;
  list-style: none;
}
