body {
  height: 100vh;
  margin: 0;
  background-color: $color-bg;
  align-items: flex-start;
}



.main{
  
  padding: 0 30px;

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &--item{
      list-style: none;
      margin-bottom: 30px;
      border: 2px solid $color-highlight1;
      border-radius: 5px;
      padding: 10px;
    }
  }

  &__subtitle{
    font-family: $font-main;
    color: $color-text;
    margin-bottom: 10px;
  }

  &__card--title{
    font-family: $font-main;
    color: $color-text;
    margin-bottom: 15px;
    max-width: 210px;
  }

  &__card--image{
    margin: 10px;
  }

}
