body {
  height: 100vh;
  margin: 0;
  padding: 0 30px;
  // display: flex;
  // flex-direction: column;
  background-color: $color-bg;
  align-items: flex-start;
}

.main__subtitle{
  font-family: $font-main;
  color: $color-text;
}
